<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('对方地址')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fish_address" class="form-control" disabled type="text" value="{$row.fish_address|htmlentities}">
        </div>
    </div>
    
    <div class="form-group">
        <label for="c-oid" class="control-label col-xs-12 col-sm-2">归属代理:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-oid" data-source="auth/admin/index" data-primary-key="id"
                                   data-field="username" class="form-control selectpage" name="row[aid]" type="text"
                                   value="{$row.aid|htmlentities}" style="display:block;">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Balance')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-balance" class="form-control" step="0.000001" name="row[balance]" type="number" value="{$row.balance|htmlentities}">
        </div>
    </div>

    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('Totalincome')}:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        <input id="c-totalincome" class="form-control" step="0.000001" name="row[totalincome]" type="number" value="{$row.totalincome|htmlentities}">-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('Incomeyue')}:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        <input id="c-incomeyue" class="form-control" step="0.000001" name="row[incomeyue]" type="number" value="{$row.incomeyue|htmlentities}">-->
    <!--    </div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('Pledgeprice')}:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        <input id="c-pledgeprice" class="form-control" step="0.000001" name="row[pledgeprice]" type="number" value="{$row.pledgeprice|htmlentities}">-->
    <!--    </div>-->
    <!--</div>-->

    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['0'=>__('未授权'), '1'=>'已授权'], $row['status'])}
        </div>
    </div>

    <!--<div class="form-group">-->
    <!--    <label for="canWithdrawal" class="control-label col-xs-12 col-sm-2">提现开关:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        {:build_radios('row[canWithdrawal]', ['0'=>'关闭', '1'=>'开启'], $row['canWithdrawal'])}-->
    <!--    </div>-->
    <!--</div>-->

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
